<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.george.chapter10">
    <!-- 允许前台服务（Android 9.0之后需要） -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        <activity-->
<!--            android:name=".ForegroundServiceActivity"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".NotifySimpleActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".NoscrollListActivity"
            android:exported="false" />
        <activity
            android:name=".CustomTabActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MonthPickerActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".ShowDrawActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".MeasureLayoutActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".MeasureTextActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".CustomButtonActivity" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@style/AppTheme"/> -->
        <activity
            android:name=".ForegroundServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 自定义Service -->
        <service android:name=".service.MusicService" />
    </application>

</manifest>