<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.george.chapter09">
    <!-- 添加震动管理权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstAndroidApp">
<!--        <activity-->
<!--            android:name=".ReturnDesktopActivity"-->
<!--            android:exported="false" />-->
        <!-- <activity -->
        <!-- android:name=".ChangeDirectionActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".AlarmActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SystemNetworkActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".SystemMinuteActivity" -->
        <!-- android:exported="false" /> -->
        <receiver
            android:name=".receiver.StaticReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.george.chapter09.staticAction" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.OrderBReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.OrderAReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.StandardReceiver"
            android:enabled="true"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".BroadStaticActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".BroadOrderActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".BroadStandardActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ReturnDesktopActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            android:exported="true"
            android:supportsPictureInPicture="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>